body{
  background-image: url("../images/coffee1.jpg");
}
/*.grid-container:after {
  content: "";
  display: table;
  clear: both;


}
.grid-item {
  float: left;
  width: 50%;

}

.grid-item img {
    width: 100%;
    object-fit: cover;
}*/