*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}


a {
  color: white;
}



.icons-left {
    font-size:200%;
    float:left;
    margin-left: 2%;
}

.icons-right {
    font-size:200%;
    float:right;
    margin-right: 2%;
}


.rectangle {
  height: 300px;
  width: 300%;
  color:white;
  border: 3px solid #48D1CC;
  border-radius:7px;
  margin: 2%;
  transition: 0.3s;
}

.rectangle:hover {
  transform: translate(0, -10px);
}

.rectangles{
    cursor: pointer;
    position: relative;
    z-index: 2;
    -webkit-appearance: none;
    background: none;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 2px;
    transition: all 0.5s ease;
    font-weight: 600;
    font-size: 14px;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,0.06);
    border-radius: 0px;
    box-shadow: 0 0 0 white, 0 0 0 white;
}


html, body {
    width: 100%;
    height: 100%;
}

body {
  margin: 0;
  align-items: center;
}

.space {
    margin: 5%;
}

/*Text*/

h1 {
  font-weight:bold;
  line-height:normal;
  text-align: center;
  margin-top:40px;
  margin-bottom:15px;
  font-weight: bold;
}

h1.text-resume {
  font-weight:bold;
  font-size: 140px;
  color: #62bcfa;
}

h1.projects {
  font-weight:bold;
  font-size: 600%;
  color: #48D1CC;
}

.square-header {
  font-weight:bold;
  font-weight: bold;
  color: white;
}

h2.project-title {
  font-weight:bold;
  text-align: center;
  font-size: 33px;
  color: white;
  margin-top: 12%;
}


h4 {
  font-weight:bold;
  line-height: 1.6;
  text-align: center;
  margin-top:40px;
  margin-bottom:15px;
  color: white;
  font-family:'Roboto';
  font-weight: 3000;
}

hr {
	height:1px;
	border:none;
	color:#000;
	/*background-color:#FFA500;*/
	border: 2px solid #FFA500;
	text-align:center;
    margin-left: 2%;
    margin-right: 2%;
}

hr.contact{
	height:1px;
	border:none;
	border: 3px solid #431c5d;
	text-align:center;
    margin: 2%;
}

/*Sections*/
section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
}

section-resume {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.left {
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 30px;
  margin-bottom:10px;
}

section.right {
    width: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 10px;
    margin-bottom:10px;
}

section.contact {
  margin-top: 5px;
}

section.resume {
    width: 100%;
    height: 20%;
    background-color: #62bcfa;
}

section.projects {
    background-color: #202020;

}

/*Images Corners */

.left {
      float:left;
}
.right {
    float:right;
}
.image-left {
    float:left;
}

.image-right {
    float:right;
}

.image-centre {
  margin-left: auto;
  margin-right: auto;
}

/*Patterns*/
.one{
  background-color: #013A6B;
  background-image: -webkit-linear-gradient(35deg, #48D1CC 50%, #62bcfa 50%);
  min-height: 500px;
}

/*"Buttons**/
.resume-outline {
  background-color: transparent;
  border: 10px solid white;
  color: white;
  padding: 0% 4%;
  cursor: pointer;
  font-size: 28px;
  font-weight: 1000;
}

.download-outline {
  background-color: #0258ff;
  color: white;
  padding: 10px 70px;
  cursor: pointer;
  border: none;
  margin: 2%;
  font-size: 20px;
  position:relative;
  align-items: center;
}

.download button {
  background-color: #0258ff;
  color: white;
  padding: 15px 24px;
  cursor: pointer;
  width: 100%;
  border: none;
  margin: 2%;
  font-size: 20px;
  position:relative;
}

.download-two button {
  background-color: #0258ff;
  color: white;
  padding: 15px 24px;
  cursor: pointer;
  width: 100%;
  border: none;
  font-size: 20px;
  position:relative;
}


.download button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.download-card {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 12%;

}

/*Quotes*/
.component{
  width: 950px;
  margin:0 auto;
  padding-right: 5em;
}

.component blockquote.quote {
    position: relative;
    text-align: center;
    padding: 1rem 1.2rem;
    width: 80%;  /* create space for the quotes */
    color: #484748;

}
.component blockquote.EN {
    background:
    linear-gradient(to right, #FC4445 4px, transparent 4px) 0 100%,
    linear-gradient(to left, #FC4445 4px, transparent 4px) 100% 0,
    linear-gradient(to bottom, #FC4445 4px, transparent 4px) 100% 0,
    linear-gradient(to top, #FC4445 4px, transparent 4px) 0 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

.component blockquote.DE {
    background:
    linear-gradient(to right, #FC4445 4px, transparent 4px) 0% 0%,
    linear-gradient(to bottom, #FC4445 4px, transparent 4px) 0% 0%,
    linear-gradient(to left, #FC4445 4px, transparent 4px) 100% 100%,
    linear-gradient(to top, #FC4445 4px, transparent 4px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

/*Curtain Setup*/
.curtain {
  width: 100%;
  height: 100pxh;
  overflow: hidden;
}

.left-panel {
  width: 50%;
  height: 50%;
  float: left;
  z-index: 2;
  position: relative;
  background: black;
  transition: all 1s ease-in;
}
.right-panel {
  width: 50%;
  height: 50%;
  float: left;
  z-index: 2;
  position: relative;
  background: white;
  transition: all 1s ease-in;
}

.content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: 333;
  z-index: 1;
  text-align: center;
}

.curtain:hover {
  .left-panel {
    transform: translateX(-100%);
  }

  .right-panel {
    transform: translateX(100%);
  }
}



/*Name*/
 /* Google chrome */
@-webkit-keyframes svg-text-anim {
   40% {
      stroke-dashoffset: 0;
      fill: transparent;
    }
    60% {
      stroke-dashoffset: 0;
      fill: transparent;
    }
    100% {
      stroke-dashoffset: 0;
      fill: transparent;
    }

}
    /* Most browsers */
@keyframes svg-text-anim {
   40% {
      stroke-dashoffset: 0;
      fill: transparent;
    }
    60% {
      stroke-dashoffset: 0;
      fill: transparent;
    }
    100% {
      stroke-dashoffset: 0;
      fill: transparent;
    }

}
/*Navigation Bar*/
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 25vh;
	background-color: #000000;

}

.nav-links{
	display: flex;
	justify-content: space-around;
	width: 60%;
}
.nav-links li{
	list-style: none;
}

.nav-links a{
	color: #FFFAFA;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
}

/*RESUME*/

/*Containers*/
.container-projects {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 80vh;
}

.container-title {
    max-width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap; /* Required to position the posts one below the other on smaller devices */
}

.container-resume {
    justify-content: center;
}
/*Card Menu*/
.container {
    max-width: 100%;
    margin: auto;
    padding-top: 4%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Required to position the posts one below the other on smaller devices */
}

.post-wrap {
    min-width: 15%;
    max-width: 18%;
    height: 420px;
    perspective: 1000px;
    flex: 1;
    margin: 0 15px 30px;
}
.post {
    position: relative; /* Required to absolutely position the faces */
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.post-front, .post-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.post-back {
    transform: rotateY(180deg);
}
.post-wrap:hover .post {
    transform: rotateY(180deg);
}
.post-img {
    background-size: cover;
    background-position: center;
    height: 300px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.post-info {
    padding: 5% 7% 5%;
    color: white;
}
.post-info span {
    font-size: 0.8rem;
    color: #808080;
}
.post-info h2{
    font-weight: bold;
    font-size: 3.4rem;

}
.post-back {
    background-color: #ffffff;
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* To push the read more button to bottom */
    align-items: flex-start; /* To position the read more button at the left */
}
.post-back h2{
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 5px;
}
.post-back p {
    margin-top: 1.5%;
    line-height: 1.6;
}
.post-back a{
    text-decoration: none;
    color: #ffffff;
    background-color: #5678ba;
    padding: 5% 6%;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 5px;
    }

/*About Me Card*/
.about-me-card {
  color: #FC4445;
}

/*Contact Info Footer and Contact card*/
.name-contact {
  color: #3B3B3B;
  margin-bottom: 0;
}
p.contact-card {
  margin: 0.8em 0;
}
.info-contact {
  position: absolute;
  bottom: $padding;
  left: $padding;
  color: #3b3b3b;
  text-transform: uppercase;
  letter-spacing: 1px;
  bottom: 15px;
}
.property {
  color: #431c5d;
}

p.contact-p {
  list-style-position:inside;
}

section.contact {
  text-align: center;
  margin-top: 5px;
}


.dot-contact-email {
  height: 40px;
  width: 40px;
  background-image: url("../images/contact/email.png");
  border-radius: 50%;
  position: relative;
  right: 2%;
  background-size: cover;
}

.dot-contact-phone {
  height: 40px;
  width: 40px;
  background-image: url("../images/contact/phone.png");
  border-radius: 50%;
  position: relative;
  right: 3%;
  background-size: cover;
}

.dot-contact-linklden {
  height: 40px;
  width: 40px;
  background-image: url("../images/contact/in.png");
  border-radius: 50%;
  position: relative;
  right: 2%;
  background-size: cover;
}

.dot-contact-location {
  height: 50px;
  width: 50px;
  background-image: url("../images/contact/location.png");
  border-radius: 50%;
  position: relative;
  left: 1%;
  background-size: cover;
}

/*SKILLS*/
.rotate_text {
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-0deg);
    font-weight:bold;
    text-align: center;
    font-size: 600%;
    color: #FFA500;
}

::selection{
  color: #fff;
  background: #6665ee;
}
.skill-bars{
  padding: 25px 30px;
  width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #62bcfa;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.bar .progress-line.python span{
  width: 75%;
}
.bar .progress-line.linux span{
  width: 80%;
}
.bar .progress-line.sql span{
  width: 75%;
}
.bar .progress-line.yaml span{
  width: 80%;
}
.bar .progress-line.aws span{
  width: 75%;
}
.bar .progress-line.java span{
  width: 60%;
}
.bar .progress-line.c span{
  width: 50%;
}
.bar .progress-line.html span{
  width: 40%;
}
.bar .progress-line.css span{
  width: 40%;
}
.bar .progress-line.jquery span{
  width: 30%;
}

.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}
.progress-line.python span::after{
  content: "75%";
}
.progress-line.linux span::after{
  content: "80%";
}
.progress-line.sql span::after{
  content: "75%";
}
.progress-line.yaml span::after{
  content: "80%";
}
.progress-line.aws span::after{
  content: "75%";
}

.progress-line.java span::after{
  content: "60%";
}
.progress-line.c span::after{
  content: "50%";
}
.progress-line.html span::after{
  content: "40%";
}
.progress-line.css span::after{
  content: "40%";
}
.progress-line.jquery span::after{
  content: "30%";
}


/*Menu Option Squares*/
.text-box {
  width: 20%;
  padding-bottom: 20%;
  position: relative;
}

.square-outline {
  width: 80%;
  height: 80%;
  border: 3px solid white;
  position: absolute;
  top: 10%;
  left: 10%;
}

.square-projects {
  width: 80%;
  height: 80%;
  border: 3px solid white;
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 10%;
}


.text-box-projects {
  width: 8%;
  padding-bottom: 25%;
  position: relative;
  background: palevioletred;
}

.text-box-skills {
  width: 8%;
  padding-bottom: 17%;
  position: relative;
  background: palevioletred;
}

.square-outline-skills {
  width: 100%;
  height: 100%;
  border: 3px solid white;
  position: absolute;
  top: 10%;
  left: 10%;
}
/*Projects*/


/*Typewriter animation*/
#typewriting {

  overflow: hidden;
  color: white;
  font-weight:bold;
  text-align: center;
  font-size: 120px;
}

/* Animation */
#typewriting {
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

/*Terminal Animation*/
.typewriter h3 {
  color: #000000;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

.static-typewriter h3 {
  color: #000000;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

// Window
.window-container {
  width: 1500px;
  height: 1500px;
  border: 1px solid #bbb;
  border-radius: 7px;
  box-shadow: 0 22px 70px 4px rgba(0, 0, 0, 0.56);
  background: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.window-controls {
  display: flex;
  padding: 5px;
  background: linear-gradient(rgb(226, 224, 226), rgb(199, 198, 200));
}

.window-controls-btn {
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

.close-btn {
  background: rgb(227, 69, 69);
}

.minimize-btn {
  background: rgb(224, 178, 40);
}

.expand-btn {
  background: rgb(0, 216, 67);
}

.window-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 95%;
  background: #000;
  overflow-y: scroll;
}

.line {
  color: #fff;
  margin: 0;
  padding: 3px 5px;;
}

