    <div class="col">
        <a href="#" class="card card-3 stacked--up">
            <div class="content">
                <code class="title">.stacked--up</code>
            </div>
        </a>
    </div>



    #arrow {
      position: relative;
      top: 0;
      transition: top ease 0.5s;
    }
    #arrow:hover {
      top: -10px;
    }

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" />
    <div id="arrow">
      <a href="#"><i class="fa fa-arrow-down fa-2x"></i></a>
    </div>